#game-container {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    height: 95vw;
    max-width: 625px;
    max-height: 625px;
    margin-left: 1.25vw;
}

.input-row {
    margin: 1vw;
    font-family: sans-serif;
}

span {
    margin-right: 1vw;
}

.cell {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    box-sizing: border-box;

    &[data-level="0"] {
        width: 95vw;
        height: 95vw;
        max-width: 625px;
        max-height: 625px;
    }
}

.rainbow {
    .bubble-1, .bubble-0 {
        border: 3px solid #DC3B40;
        .filled & {
            background: #DC3B40;
        }
    }

    .bubble-2 {
        border: 3px solid #FA7B39;
        .filled & {
            background: #FA7B39;
        }
    }

    .bubble-3 {
        border: 3px solid #E7BB12;
        .filled & {
            background: #E7BB12;
        }
    }

    .bubble-4 {
        border: 3px solid #77AC08;
        .filled & {
            background: #77AC08;
        }
    }

    .bubble-5 {
        border: 3px solid #1272D8;
        .filled & {
            background: #1272D8;
        }
    }

    .bubble-6 {
        border: 2.5px solid #4E3380;
        .filled & {
            background: #4E3380;
        }
    }
}

.spa-1 {
    .bubble-1, .bubble-0 {
        border: 3px solid #d7dfae;
        .filled & {
            background: #d7dfae;
        }
    }

    .bubble-2 {
        border: 3px solid #a7c3b5;
        .filled & {
            background: #a7c3b5;
        }
    }

    .bubble-3 {
        border: 3px solid #e7e3d5;
        .filled & {
            background: #e7e3d5;
        }
    }

    .bubble-4 {
        border: 3px solid #f1e6e3;
        .filled & {
            background: #f1e6e3;
        }
    }

    .bubble-5 {
        border: 3px solid #f4d2bc;
        .filled & {
            background: #f4d2bc;
        }
    }

    .bubble-6 {
        border: 2.5px solid #f4bf95;
        .filled & {
            background: #f4bf95;
        }
    }
}

.spa-2 {
    opacity: 80%;
    .bubble-1, .bubble-0 {
        border: 3px solid #954631;
        .filled & {
            background: #954631;
        }
    }

    .bubble-2 {
        border: 3px solid #d49064;
        .filled & {
            background: #d49064;
        }
    }

    .bubble-3 {
        border: 3px solid #f9ba76;
        .filled & {
            background: #f9ba76;
        }
    }

    .bubble-4 {
        border: 3px solid #295e65;
        .filled & {
            background: #295e65;
        }
    }

    .bubble-5 {
        border: 3px solid #32303f;
        .filled & {
            background: #32303f;
        }
    }

    .bubble-6 {
        border: 2.5px solid #4e8074;
        .filled & {
            background: #4e8074;
        }
    }
}

.spa-3 {
    .bubble-1, .bubble-0 {
        border: 3px solid #FFD1A7;
        .filled & {
            background: #FFD1A7;
        }
    }

    .bubble-2 {
        border: 3px solid #FFC0A5;
        .filled & {
            background: #FFC0A5;
        }
    }

    .bubble-3 {
        border: 3px solid #BEB4B4;
        .filled & {
            background: #BEB4B4;
        }
    }

    .bubble-4 {
        border: 3px solid #CECFD7;
        .filled & {
            background: #CECFD7;
        }
    }

    .bubble-5 {
        border: 3px solid #ECDECA;
        .filled & {
            background: #ECDECA;
        }
    }

    .bubble-6 {
        border: 2.5px solid #E2A84E;
        .filled & {
            background: #E2A84E;
        }
    }
}

.spa-4 {
    opacity: 75%;
    .bubble-1, .bubble-0 {
        border: 3px solid #481944;
        .filled & {
            background: #481944;
        }
    }

    .bubble-2 {
        border: 3px solid #5b205a;
        .filled & {
            background: #5b205a;
        }
    }

    .bubble-3 {
        border: 3px solid #844c85;
        .filled & {
            background: #844c85;
        }
    }

    .bubble-4 {
        border: 3px solid #f4e3cb;
        .filled & {
            background: #f4e3cb;
        }
    }

    .bubble-5 {
        border: 3px solid #dccaac;
        .filled & {
            background: #dccaac;
        }
    }

    .bubble-6 {
        border: 2.5px solid #1fb7b0;
        .filled & {
            background: #1fb7b0;
        }
    }
}

.earth {
    .bubble-1, .bubble-0 {
        border: 3px solid #007250;
        .filled & {
            background: #007250;
        }
    }

    .bubble-2 {
        border: 3px solid #2B8249;
        .filled & {
            background: #2B8249;
        }
    }

    .bubble-3 {
        border: 3px solid #589E4B;
        .filled & {
            background: #589E4B;
        }
    }

    .bubble-4 {
        border: 3px solid #88C14F;
        .filled & {
            background: #88C14F;
        }
    }

    .bubble-5 {
        border: 3px solid #B8E052;
        .filled & {
            background: #B8E052;
        }
    }

    .bubble-6 {
        border: 2.5px solid #E0F752;
        .filled & {
            background: #E0F752;
        }
    }
}

.air {
    .bubble-1, .bubble-0 {
        border: 3px solid #F1C31A;
        .filled & {
            background: #F1C31A;
        }
    }

    .bubble-2 {
        border: 3px solid #E2A218;
        .filled & {
            background: #E2A218;
        }
    }

    .bubble-3 {
        border: 3px solid #D58F03;
        .filled & {
            background: #D58F03;
        }
    }

    .bubble-4 {
        border: 3px solid #BBBA9F;
        .filled & {
            background: #BBBA9F;
        }
    }

    .bubble-5 {
        border: 3px solid #CDCAB3;
        .filled & {
            background: #CDCAB3;
        }
    }

    .bubble-6 {
        border: 2.5px solid #DDDCD5;
        .filled & {
            background: #DDDCD5;
        }
    }
}

.fire {
    .bubble-1, .bubble-0 {
        border: 3px solid #560410;
        .filled & {
            background: #560410;
        }
    }

    .bubble-2 {
        border: 3px solid #8c000e;
        .filled & {
            background: #8c000e;
        }
    }

    .bubble-3 {
        border: 3px solid #d31522;
        .filled & {
            background: #d31522;
        }
    }

    .bubble-4 {
        border: 3px solid #ff4417;
        .filled & {
            background: #ff4417;
        }
    }

    .bubble-5 {
        border: 3px solid #ff6e00;
        .filled & {
            background: #ff6e00;
        }
    }

    .bubble-6 {
        border: 2.5px solid #ffa600;
        .filled & {
            background: #ffa600;
        }
    }
}

.water {
    .bubble-1, .bubble-0 {
        border: 3px solid #0BA5A4;
        .filled & {
            background: #0BA5A4;
        }
    }

    .bubble-2 {
        border: 3px solid #44B9BD;
        .filled & {
            background: #44B9BD;
        }
    }

    .bubble-3 {
        border: 3px solid #99D9DF;
        .filled & {
            background: #99D9DF;
        }
    }

    .bubble-4 {
        border: 3px solid #68B7D0;
        .filled & {
            background: #68B7D0;
        }
    }

    .bubble-5 {
        border: 3px solid #3D92C2;
        .filled & {
            background: #3D92C2;
        }
    }

    .bubble-6 {
        border: 2.5px solid #2E5D96;
        .filled & {
            background: #2E5D96;
        }
    }
}
